[init]
  defaultBranch = main
[log]
  decorate = auto
[user]
  name = Chris Houhoulis
[remote "upstream"]
  tagOpt = --tags
[branch]
  autosetuprebase = always
[color]
  ui = always
  # showbranch = never
  diff = always
[diff]
  renames = copies
  colorMoved = default
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse
[status]
  showUntrackedFiles = all
[alias]
  brm = merge --no-ff --log --no-commit
  co = checkout
  sv = stash save
  li = stash list
  ap = stash apply
  branchdiff = log --left-right --graph --cherry-pick --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short
  lo = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  gr = log --graph --full-history --all --color --pretty=format:'%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s %C(blue)(%ar) %C(yellow)<%an>%Creset'
  grog = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)'
  lol  = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[push]
  default = tracking
[gc]
  reflogExpire = 12 months
  reflogExpireUnreachable = 12 months
  rerereunresolved = 60 days
  pruneExpire = 5 weeks ago
[core]
  # excludesfile = /Users/xxxx/.gitignore_global
  autocrlf = input
  # pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
  pager = delta # see https://github.com/dandavison/delta
  editor = vim
[github]
  user = houhoulis
[difftool]
  prompt = false

# [pager]
#   log = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
#   show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
#   diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[interactive]
  # diffFilter = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0
[delta]
  syntax-theme = Coldark-Dark
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = false
  keep-plus-minus-markers = true
  minus-style = normal "#400000"
  plus-style = auto "#002a00"
  zero-style = normal dim blink normal
  side-by-side = false
# https://dandavison.github.io/delta/features-named-groups-of-settings.html
[delta "sidebyside"]
  side-by-side = true # However, I haven't gotten DELTA_FEATURES='+side-by-side' or DELTA_FEATURES='+sidebyside' to work
[merge]
  conflictstyle = diff3
