[user]
  name = Chris Houhoulis
  email = chris@chrishouhoulis.com
[branch]
  autosetuprebase = always
[color]
  ui = always
  diff = always
[diff]
  renames = copies
[status]
  showUntrackedFiles = all

[alias]
        brm = merge --no-ff --log --no-commit
        co = checkout
        sv = stash save
        li = stash list
        ap = stash apply
[push]
        default = tracking
[gc]
        reflogExpire = 12 months
        reflogExpireUnreachable = 12 months
        rerereunresolved = 60 days
        pruneExpire = 5 weeks ago
[core]
  # excludesfile = /Users/xxxx/.gitignore_global
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[github]
  user = houhoulis
[core]
  editor = /usr/bin/vim
